.lead__title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
  text-align: center;
  width: 90%;
  margin: auto;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 640px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    font-size: 6rem;
    line-height: 6.25rem;
    width: 70%;
  }
}
